layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
                // plugin configuration...
                format_left   ""
                format_center "{tabs}"
                format_right  "#[bg=#24273a,fg=#5b6078]{mode} | [{session}]"
                format_space  ""

                border_enabled  "false"
                border_char     "─"
                border_format   "#[fg=#6C7086]{char}"
                border_position "top"

                hide_frame_for_single_pane "false"

                mode_normal       "{name}"
                mode_scroll       "#[bg=#7dc4e4,fg=#5b6078]{name}"
                mode_search       "#[bg=#7dc4e4,fg=#5b6078]{name}"
                mode_entersearch  "#[bg=#7dc4e4,fg=#5b6078]{name}"

                tab_normal   "#[fg=#5b6078]  • {name}  "
                tab_active   "#[fg=#7dc4e4,bold]  • {name}  "
            }
        }
        children
    }
}

